#css-zen-garden{
    background-color: blanchedalmond;
    border: 1em;
    border-style: groove;
    border-color: black;
}
/*placed a boreder and the color changed for the entire page*/

#zen-intro {
    display: grid;
    grid-template-areas: "header header" "summary preamble";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-bottom: solid 1px;
  }
  /* divided the intro section*/

header{
    grid-area: header;
    text-align: center;
}
  
#zen-summary {
    grid-area: summary;
    text-align: left;
    float: right;
    width: 65%;
    padding-left: 5em;
    padding-top: 4em;
    
  }
/* created a box and content was set to the bottom right of the section*/

  #zen-preamble {
    grid-area: preamble;
  }

  #zen-supporting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 10px; 
    padding: 1em;
    background-color: rgba(247, 214, 164, 0.50);
  }
  /*evenly created a grid for each*/

  h3{ 
    text-align: center;
  }

 .footer{
  align-items: center;
 }

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgb(255, 111, 58);
}

li{
  list-style: none;
  text-align: center;
  padding-right: 1em;
}

a:hover{
  color: blue;
}

a{
  color: coral;
  text-decoration: underline;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}